---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCIES = [
    {
        title: "Senior Business Intelligence Consultant",
        description: [
            '娥火拆 火拆桂桂娥答拆火梆 拣火桂火 en proyectos internos.',
            'Procesamiento de datos con tecnolog铆a ヰ  y creaci贸n de procesos con /.',
            'Creaci贸n de Objetos en  para la explotaci贸n y visualizaci贸n de datos.',
            'Uso de 拆 ю  para flujos de trabajo y manejo de permisos de usuarios.',
            'Uso de herramientas como 娥梆筐拣拣仇 梆拆 y  para la organizaci贸n de las tareas.',
            'Organizaci贸n de trabajo con metodolog铆a 答娥桂.'
        ],
        link: "",
        date: "Enero 2023 - Actualmente",
        company: "Minsait",
        skills: ['PLSQL 路', 'JIRA 路', 'Microsoft Excel 路', 'Microstrategy 路', 'Oracle SQL Developer'],
        site: "Almer铆a, Andaluc铆a, Espa帽a 路 En remoto"
    },
    {
        title: "Business Intelligence Consultant",
        description: [
            '娥火拆 火拆桂桂娥答拆火梆 拣火桂火 en el sector de la energ铆a( ○筐答 ).',
            'Uso de herramientas ю como  (Oracle Data Integrator) para la ingesta y transformaci贸n de datos para su visualizaci贸n.',
            'Uso de herramientas de bases de datos como 筐梆桂 .',
            'Uso de herramientas como 娥梆筐拣拣仇 梆拆 y ю筐拆桂桂 para la organizaci贸n de las tareas.',
            'Organizaci贸n de trabajo con metodolog铆a 答娥桂.'
        ],
        link: "",
        date: "Noviembre 2020 - Diciembre 2022 路 2 a帽o 1 mes",
        company: "ViewNext",
        skills: ['Python 路', 'Power BI 路', 'Microsoft Excel 路', 'MicroStrategy 路',  'SQL 路', 'PL/SQL'],
        site: "Almer铆a, Andaluc铆a, Espa帽a"
    }
]

---


<ol class="relative border-s border-gray-200 ml-3">
    {
      EXPERIENCIES.map((experiencie) => (
        <li class="mb-10 ms-4">
          <ExperienceItem {...experiencie} />
        </li>
      ))
    }
  </ol>

